/*=============================================================================
						MEDIA QUERIES
==============================================================================*/
/* Extra Large Devices (Desktop & Laptops) */
@media (min-width: 1200px){
	/* OK */
}

/* Large Devices (Lanscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
	/* Footer Section */
	#footer-content {
		justify-content: center;
	}
	
	#footer-contact {
		margin-left: 0 !important;
	}
}

/* Medium Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {
	/* Home Section */
	#home-section {
		padding-top: 190px;
	}
	
	#home-section h1 {
		font-size: 2rem;
	}
	
	#home-section p {
		 width: 70%;
	}	
	
	/* Counter Section*/
	.stats-group {
		margin: 0 40px;
	}
	
	/* Footer Section */
	#footer-content {
		justify-content: center;
	}
	
	#footer-contact {
		margin-left: 0 !important;
	}
	
	#contact-text {
		width: 95%;
	}
	
	footer p {
		width: 100%;
	}
	
	#newsletter {
		margin-left: -2px!important;
	}
	
	#btn-subscribe {
		margin-left: -15px;
	}
	
	.fab {
		font-size: 1.6rem;
		margin-top: -10px;
	}
}

/* Small Devices (Landscape phones) */
@media (min-width: 576px) and (max-width: 767px) {
	/* Home Section */
	#home-section {
		padding-top: 190px;
	}
	
	#home-section h1 {
		font-size: 2rem;
	}
	
	#home-section p {
		 width: 90%;
	}	
	
	/* Counter section */
	.stats-group {
		padding-left: 60px;
		padding-right: 60px;		
	}
	
	/* Grow section */
	#grow-text {
		order: 2;
		text-align: center;
		padding-left: 80px!important;
		padding-top: 80px!important;
		width: 90%;
	}
	
	#pic-grow {
		order: 1;
		margin-left: 15px;
	}
	
	#bgtop-desktop1 {
		display: none;
	}
	
	#bgtop-mobile1 {
		display: block;
		width: 100%;
	}
	
	#bgbottom-desktop1{
		display: none;
	}
	
	#bgbottom-mobile1{
		display: block;
		width: 100%;
	}
	
	/* Flow Section */
	#flow-text {		
		text-align: center;
		padding-left: 80px!important;
		padding-top: 80px!important;
		width: 90%;
	}
	
	#pic-flow {		
		margin-left: 40px;
	}
	
	/* Users Section */
	#users-text {
		order: 2;
		text-align: center;
		padding-left: 80px!important;
		padding-top: 80px!important;
		width: 90%;
	}
	
	#pic-users {
		order: 1;
		margin-left: 20px;
	}
	
	#bgtop-desktop2 {
		display: none;
	}
	
	#bgtop-mobile2 {
		display: block;
		width: 100%;
	}
	
	#bgbottom-desktop2 {
		display: none;
	}
	
	#bgbottom-mobile2 {
		display: block;
		width: 100%;
	}
	
	/* Footer Section */
	#footer-content {
		justify-content: center;
	}
	
	#footer-contact {
		order: 2;
		margin: auto!important;
	}
	
	#contact-text {
		width: 95%;
	}
	
	footer p {
		width: 95%;
	}
	
	#newsletter {
		order: 1;
		margin-left: -22px!important;
		margin-bottom: 60px;
	}
	
	#subscribe {
		width: 100%;
	}
	
	#btn-subscribe {
		float: right;
		margin-top: 12px;
	}
	
	.fab {
		font-size: 1.6rem;
		margin-top: -10px;
	}
	
	#footer-desktop {
		display: none;
	}
	
	#footer-mobile {
		display: block;
		width: 100%;
	}
}

/* Extra Small Devices (Portrait Phones) */
@media (min-width: 320px) and (max-width: 575px) {
	/* Nav Section */
	nav img {
		width: 50%;
	}
	
	#btn-try {
		margin-top: 10px;
		border-radius: 18px;
		width: 90px;
		padding: 3px 0;
		font-size: 12px;
	}
	
	/* Home Section */
	#home-section {
		padding-top: 170px;
	}
	
	#home-section h1 {
		font-size: 1.8rem;
	}
	
	#home-section p {
		 width: 95%;
	}
	
	.btn-start {
		padding: 10px 20px;
		width: 250px;
		margin-top: 20px;
	}
	
	/* Counter section */
	.stats-group {
		padding: 40px 0;
		text-align: center;
	}
	
	.stats-group img {
		float: left;
	}
	.stats-item {
		display: inline-block;
	}
	
	#message-sent {
		padding-left: 0;
	}
	
	/* Grow section */
	#grow-text {
		order: 2;
		text-align: center;
		padding-left: 25px!important;
		padding-top: 80px!important;
		width: 98%;
	}
	
	#grow-text h1 {
		font-size: 1.8rem;
	}
	
	#pic-grow {
		order: 1;
		margin-left: 5px;
	}
	
	#bgtop-desktop1 {
		display: none;
	}
	
	#bgtop-mobile1 {
		display: block;
		width: 100%;
	}
	
	#bgbottom-desktop1{
		display: none;
	}
	
	#bgbottom-mobile1{
		display: block;
		width: 100%;
	}
	
	/* Flow Section */
	#flow-text {		
		text-align: center;
		padding-left: 10px!important;
		padding-top: 80px!important;
		width: 100%;
	}
	
	#flow-text h1 {
		font-size: 1.8rem;
	}
	
	#pic-flow {		
		margin-left: 40px;
	}
	
	/* Users Section */
	#users-text {
		order: 2;
		text-align: center;
		padding-left: 20px!important;
		padding-top: 80px!important;
		width: 100%;
	}
	
	#users-text h1 {
		font-size: 1.8rem;
	}
	
	#pic-users {
		order: 1;
		margin-left: 20px;
	}
	
	#bgtop-desktop2 {
		display: none;
	}
	
	#bgtop-mobile2 {
		display: block;
		width: 100%;
	}
	
	#bgbottom-desktop2 {
		display: none;
	}
	
	#bgbottom-mobile2 {
		display: block;
		width: 100%;
	}
	
	/* Footer Section */
	#footer-content {
		justify-content: center;
	}
	
	#footer-contact {
		order: 2;
		margin: auto!important;
	}
	
	#contact-text {
		width: 95%;
		margin-bottom: 40px;
	}
	
	footer p {
		width: 90%;
	}
	
	#newsletter {
		order: 1;
		margin-left: -22px!important;
		margin-bottom: 60px;
	}
	
	#subscribe {
		width: 100%;
	}
	
	#btn-subscribe {
		float: right;
		margin-top: 12px;
	}
	
	.fab {
		font-size: 1.6rem;
		margin-top: -10px;
	}
	
	#footer-desktop {
		display: none;
	}
	
	#footer-mobile {
		display: block;
		width: 100%;
	}
}


@media (min-width: 320px) and (max-width: 394px) {
	/* Nav Section */
	
	#btn-try {
		margin-top: -30px;
	}
	
}