/*=============================================================================

    COLORS:

    Pink           :    #FF52BF        (Buttons)
    Very Pale Blue :    #F5FAFF        (Section "grow" & "users") 
    Very Dark Cyan :    #00252E        (Footer)  

    TYPOGRAPHY:
    
    Heading        :    'Poppins', sans-serif;
    Body           :    'Open Sans', sans-serif; 

==============================================================================*/

body {
    font-family: 'Open Sans', sans-serif; 
}

h1 {
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------------
                    NAV SECTION
   ---------------------------------------------- */
nav {
    padding-top: 50px;    
    background: #fff;
}

nav img {
    margin-top: 10px;
    width: 80%;
}

#btn-try {
    margin-top: 20px;
    border-radius: 18px;
    border: 1px solid #FF52BF;
    color: #FF52BF;
    width: 110px;
    padding: 5px 0;
}

#btn-try:hover {
    background: #FF52BF;
    color: #fff;
    box-shadow: 2px 6px 6px #E4E4E4;
	transition: .5s ease;
	-webkit-transition: .5s ease;
}


/* ---------------------------------------------
                    HOME/HEADER SECTION
   ---------------------------------------------- */
#home-section {
    padding-top: 250px;
}

#home-section p {
    width: 45%;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn-start {
    background: #FF52BF;
    color: #F5FAFF;
    border-color: #FF52BF;
    border-radius: 27px;
    padding: 15px 30px;
    width: 280px;
    font-weight: 600;
    box-shadow: 2px 6px 6px #E4E4E4;	
}

.btn-start:hover {
    background: #fff;
    border-color: #FF52BF;
    color: #FF52BF;
    box-shadow: 0 0 0;
	transform: scale(1.03);
	transition: transform .2s ease;
	-webkit-transform: scale(1.03);
	-webkit-transition: transform .2s ease;
}


/* ---------------------------------------------
                MOCKUP SECTION
   ---------------------------------------------- */
#mockup {
    padding-top: 80px;
}

#mockup img {
    width: 78%;
}


/* ---------------------------------------------
                COUNTER SECTION
   ---------------------------------------------- */
#counter {
    margin: 40px 0;
}

#counter img {
    width: 30px;   
}

#counter h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#message-sent {
   padding-left: 20px;
}

/* ---------------------------------------------
            COMMON STYLING OF SECTIONS
   ---------------------------------------------- */
.section-content {
    background-color: #F5FAFF;
}

.section-title {
    font-size: 2rem;
}

#grow p, #flow p, #users p {
    font-weight: 600;
}

#grow img, #users img {
    overflow: hidden;
}

/* ---------------------------------------------
                GROW SECTION
   ---------------------------------------------- */
#grow #grow-text {
    padding-left: 100px;
}

#grow #pic-grow {
    width: 80%;
    padding-left: 80px;
}


/* ---------------------------------------------
                 FLOW SECTION
   ---------------------------------------------- */
#flow img {
    width: 80%;
    padding-left: 20px;
}


/* ---------------------------------------------
                USERS SECTION
   ---------------------------------------------- */
#users #users-text {
    padding-left: 100px;
}

#users #pic-users {
    width: 80%;
    padding-left: 60px;
}

/* ---------------------------------------------
                READY SECTION
   ---------------------------------------------- */        
#ready h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#ready {
    margin-bottom: 50px;
}

/* ---------------------------------------------
                FOOTER
   ---------------------------------------------- */  
.section-content2 {
    background-color: #00252E;
}

.fab {
    color: #fff;
}

.fab:hover {
    color: #FF52BF;  
	margin-top: -2px;
	transition: .2s ease;
	-webkit-transition: .2s ease;
}

#btn-subscribe {
	background: #FF52BF;
	color: #fff;
	border: 1px solid #FF52BF;
}

#btn-subscribe:hover {
	background: #fff;
	color: #FF52BF;
	border: 1px solid #FF52BF;	
	transition: .5s ease;
	-webkit-transition: .5s ease;
}

footer h5 {
    font-weight: 600;
}

footer p {    
	width: 60%;
	font-size: 0.9rem;
}

#footer-content {
	padding-top: 25px;
    padding-bottom: 25px;
}